.cyborg-navbar{
  min-height: 85px;
}

.navbar-dark .navbar-nav .nav-link.active{
  color: var(--color-primary);
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: var(--color-primary);
}

@media(max-width:280px){
  .navbar-brand{
    margin: 0;
}
  .navbar-brand  img{
    width: 150px;
}
}

@media(max-width:400px){
  .navbar-brand  img{
    width: 150px;
}
.navbar-toggler-icon{
  width: 1.20em;
}
}
