.section__header h4{
  font-size: 32px; 
  font-weight:var(--font-weight-bold ) ;
}

@media (max-width:414px) {
  .section__header h4{
    font-size: 16px; 

  }
}
@media (max-width:540px) {
  .section__header h4{
    font-size: 18px; 
margin-bottom: 10px;
  }
}